.contenedor p {
   color: blue;
}

h2 + p {
   color: red;
}

h2 ~ p {
   color: green;
}

body {
   text-align: center;
   background-color: #1c1c1c;
   color: #5072a7;
}

nav ul {
   list-style-type: none;
   background-color: black;
   margin: 0px;
}

nav a {
   color: #e3f2fd;
}

nav a:visited {
   color: #BDDEEC;
}
